@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1 12
  }
  25% {
    opacity: 0 15
  }
  100% {
    opacity: 0 18
  }
}

.home {
  background-color: black;
  background-image: url("../../dist/images/room.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  background-color: black;
  background-size: 100%;
  min-height: 100vh;
}

@keyframes example {
  from {
    background-color: white;
  }
  to {
    background-color: purple;
  }
}

.an {
  width: 5vw;
  height: 10vh;
  background-color: black;
  transition: height 1s;
}

.an:hover {
  height: 92vh;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 100px;
  color: white;
  line-height: 100px;
}

.mobile-title {
  font-size: 250px;
  color: white;
  line-height: 250px;
  text-align: center;
}

.loc {
  text-align: right;
  color: rgb(100, 100, 100);
  margin-left: auto;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:hover {
  text-decoration: none;
}

.img {
  display: 'block';
  width: 100%;
  padding: 2px;
}

.gallery {
  width: 71vw;
  margin-right: 5vw;
  margin-left: auto;
}

.mobile-img {
  display: 'block';
  width: 100%;
  padding-bottom: 20px;
}

.appear-first {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.appear-second {
  animation-name: appear;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.appear-third {
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.appear-fourth {
  animation-name: appear;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

.appear-fifth {
  animation-name: appear;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.ril__caption, .ril__toolbar {
  background-color: rgb(0, 0, 0, 0) !important;
}

.ril__zoomInButton {
  background: none !important;
}

.ril__zoomOutButton {
  background: none !important;
}

.about-top {
  width: 98vw;
  display: flex;
  align-items: flex-end;
  align-content: flex-start;
  margin-bottom: 30px;
}

.about-top-img {
  width: 60vw;
  margin-right: 30px;
}

.about-top-text {
  width: 20vw;
  color: rgb(221, 221, 221);
  font-size: 12px;
}

.about-bottom {
  width: 98vw;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.about-bottom-img {
  width: 30vw;
  margin-right: 30px;
  margin-left: 2vw;
  margin-bottom: 50px;
}

.about-bottom-text {
  width: 28vw;
  color: rgb(221, 221, 221);
  font-size: 12px;
}

.about-bottom-left-text {
  width: 28vw;
  text-align: right;
  color: rgb(221, 221, 221);
  font-size: 12px;
}

.photo-flex {
  display: flex;
  justify-content: left;
}

@media (max-width: 500px) {
  .about-top-img {
    width: 100vw;
    margin-right: 0;
  }

  .about-top-text {
    width: 98vw;
    color: rgb(221, 221, 221);
    font-size: 10px;
    padding: 2px;
  }

  .about-bottom-img {
    width: 100vw;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .about-bottom-text {
    width: 98vw;
    color: rgb(221, 221, 221);
    font-size: 10px;
    padding: 2px;
  }
  
  .about-bottom-left-text {
    text-align: left;
    width: 98vw;
    color: rgb(221, 221, 221);
    font-size: 10px;
    padding: 2px;
  }

  .home {
    background-image: url("../../dist/images/mobile-room.jpg");
  }
  
}

c {
  color: rgb(0, 255, 255) !important;
}