.splash {
  background-color: black;
  background-image: url("../../dist/images/drumming.gif");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.splash-link {
  font-size: 200px;
  font-style: italic;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
  height: 200px;
  line-height: 200px;
}

.page {
  background-color: black;
  background-size: 100%;
  min-height: calc(100vh - 120px);
  /* padding-right: 57px;
  padding-left: 57px; */
}


@keyframes example {
  from {background-color: white;}
  to {background-color: purple;}
}

.an {
  width: 5vw;
  height: 10vh;
  background-color: black;
  transition: height 1s;
}

.an:hover {
  height: 92vh;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 100px;
  color: white;
  line-height: 100px;
}

.mobile-title {
  font-size: 250px;
  color: white;
  line-height: 250px;
  text-align: center;
}

.splash-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.splash-links {
  color: rgb(218, 218, 218);
  letter-spacing: 4px;
  margin-right: 20px;
}

.mobile-splash-links {
  color: rgb(218, 218, 218);
  font-size: 70px;
  width: 100vw;
  letter-spacing: 13px;
  /* margin-right: 20px; */
  margin-top: 40px;
  text-align: center;
  font-style: italic;
  }

.loc {
  text-align: right;
  color: rgb(100, 100, 100);
  margin-left: auto;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
}

.splash-appear {
  animation-name: appear;
  animation-duration: 1.5s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

a:hover {
  text-decoration: none;
}

.img {
  display: 'block';
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.gallery {
  /* width: 60vw; */
  margin: auto;
  /* padding-top: 40px; */
}

.mobile-img {
  display: 'block';
  width: 100%;
  padding-bottom: 20px;
}

.appear-first {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.appear-second {
  animation-name: appear;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.appear-third {
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.appear-fourth {
  animation-name: appear;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

.appear-fifth {
  animation-name: appear;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}