.App {
  text-align: center;
  /* font-family: Berthold-Akzidenz-Grotesk-Tall; */
  font-family: Berthold-Akzidenz-Grotesk;
}

.splash {
  background-color: black;
  height: 100vh;
  /* display: flex;
  flex-wrap: wrap; */
}

.splash-link {
  /* display: inline-block; */
  font-size: 200px;
  font-style: italic;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
  /*
  border-width: 1px;
  border-style: solid;
  border-color: gray; */
  height: 200px;
  line-height: 200px;
  /* height: 35px; */
}


@keyframes example {
  from {background-color: white;}
  to {background-color: purple;}
}

.an {
  width: 5vw;
  height: 100px;
  background-color: black;
  transition: height 1s;

  /* transition: height 1s; */
}

.an:hover {
  height: 100vh;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
  
  /* height: 300px; */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* .about {
  background-color: black;
  width: 100vw;
  height: 100vh;
} */