.navbar {
  width: calc(100vw-50px);
  height: 120px;
  background-color: black;
  /* padding-right: 50px; */
  padding-bottom: 40px;
  align-items: flex-start;
  padding-top: 0px;
}

.link-container {
  justify-content: flex-end;
  width: 20vw;
  margin-top: 0;
  margin-right: 50px;
}

.link {
  color: rgb(0, 255, 255);
  height: 8vh;
  width: 5vw;
  position: relative;

  animation-name: offText;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.logo {
  width: 12vw;
}

.logo-container {
  padding-top: 50px;
  padding-left: 40px;
}

.subtitle {
  color: grey;
}

.link-piece{
  width: 5vw;
  height: 2vh;
  text-align: center;
}

.link-block {
  display: flex;
  flex-wrap: wrap;
  width: 5vw;
  height: 8vh;
  position: absolute;
  top: 0;
  left: 0;
}

.link-color {
  background-color: rgb(204, 5, 204);
  width: 5vw;
  height: .8vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: height .7s;

}

.link:hover .link-color {
  height: 9vh;
}

.link:hover{
  animation-name: overText;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes overText {
  from {color:rgb(0, 255, 255)}
  to {color: white}
}

@keyframes offText {
  from {color: white}
  to {color:rgb(0, 255, 255)}
}
